
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<h3>Welcome to the Ngo</h3>

<div>
    <span class="btn btn-primary">@Html.ActionLink("Signup","Signup","Home")</span>
    <span class="btn btn-success">@Html.ActionLink("Login","Login","Home")</span>

</div>

